<hello name="{{ name }}"></hello>
<p>Start editing to see some magic happen :)</p>
<h3>{{ userInput }}</h3>
<!-- a {{}} közötti részt az Angular modul kiértékeli, illetve ha az
abban megjelenített változók bármelyike változik, automatikusan újraértékeli -->

<input type="text" [(ngModel)]="userInput" />
<!-- minden egyes leütéssel frissül automatikusan a userInput változó minden reprezentációja, ez a two-way binding lényege -->

<p *ngIf="userInput === 'titkosjelszó'">Tudtad a jelszót, gratulálok</p>
